@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,regular,500,600,700,800);

/* ============ COMMON CSS ============ */

:root {
  --primary-color: #e47312;
  --primary-hover-color: #e98a38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 40px 40px 0 40px;
}

/* ----------------------- HOME PAGE STARTS HERE ----------------------- */
/* ============ BANNER ============ */

.container {
  background-image: linear-gradient(
      76deg,
      rgba(193, 195, 204, 0.83) 35%,
      rgba(193, 195, 204, 0.28) 65%
    ),
    url("https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: calc(100vh - 40px);
  position: relative;
  background-attachment: scroll, fixed;
}

/* ============ NAVIGATION BAR ============ */

.container header {
  display: flex;
  margin: 20px;
  background-color: #fff;
}

.container header .logo {
  background-color: var(--primary-color);
  height: 112px;
  position: absolute;
  top: 40px;
  left: 80px;
}

.container header .logo .logo_img {
  width: 160px;
  position: relative;
  padding: 30px 35px;
  display: flex;
  top: 15px;
}

.container header nav {
  background-color: #fff;
  position: absolute;
  height: 90px;
  right: 220px;
  top: 40px;
  left: 240px;
}

.container header nav ul {
  display: flex;
  justify-content: end;
  margin-right: 30px;
}

.container header nav li {
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
  padding: 48px 20px;
  position: relative;
  display: inline-block;
  top: -10px;
  cursor: pointer;
  transition: all ease 0.2s;
  color: #414147;
}

.container header nav li.active {
  color: var(--primary-color);
}

.container header nav li:hover {
  color: var(--primary-color);
}

.container header .last {
  height: 90px;
  background-color: var(--primary-color);
  position: absolute;
  top: 40px;
  width: 160px;
  right: 60px;
  font-size: 12px;
  font-weight: 600;
  color: #ffff;
  transition: all ease 0.2s;
}

.container header .last:hover {
  background-color: var(--primary-hover-color);
}

.container header .last span {
  position: relative;
  top: 40px;
  left: 33px;
  letter-spacing: 1px;
}

/* ============ MIDDLE SECTION ============ */

.container .hero {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container .hero .big_letters {
  position: absolute;
  font-weight: 600;
  font-size: 62px;
  line-height: 70px;
  letter-spacing: 1px;
  color: #ffff;
  left: 320px;
  top: 300px;
  width: 650px;
}

.container .hero .small_letters {
  color: rgb(249, 248, 248);
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  left: 320px;
  top: 380px;
}

.container .hero .last_letters {
  background-color: #e47312;
  position: absolute;
  left: 320px;
  top: 440px;
  padding: 18px 33px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  color: #ffff;
  transition: all ease 0.2s;
}

.container .hero .last_letters:hover {
  background-color: var(--primary-hover-color);
}

/* ============ SOCIAL ICONS SECTION ============ */

.icons ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.icons ul li img {
  width: 40px;
  padding: 12px;
  cursor: pointer;
}

.icons {
  background-color: #0a1229;
  position: absolute;
  right: 0px;
  bottom: 250px;
}

.border {
  border-bottom: 1px solid rgb(59, 59, 59);
}

/* ============ LAST SECTION OF MIDDLE SECTION ============ */

.last_nav .right {
  background-color: #fff;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100px;
  bottom: 0;
}

.last_nav .left {
  background-color: #e47312;
  background-image: linear-gradient(186deg, #e47312, #ff6361);
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 970px;
  height: 230px;
  right: 0px;
  bottom: 25px;
}

.last_nav .left .left_first {
  text-align: center;
  align-items: center;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.last_nav .left .left_second {
  text-align: center;
  align-items: center;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.last_nav .left .left_third {
  text-align: center;
  align-items: center;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.bolder {
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
}

.lighter {
  font-size: 17px;
  color: hsla(0, 0%, 100%, 0.7);
}

.photer {
  width: 25px;
  margin-bottom: 5px;
}
/* ----------------------- HOME PAGE ENDS HERE ----------------------- */
/* ----------------------- SERVICES PAGE STARTS HERE ----------------------- */

.services {
  max-width: 100%;
  padding: 5% 17%;
}

/*  ============ SERVICES HEADING SECTION ============  */

.services .top_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services .background-rel {
  font-size: 110px;
  font-weight: 600;
  letter-spacing: 11px;
  color: rgba(241, 241, 247, 0.4);
}

.services .background-rel .main-heading {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  top: -70px;
}

.services .background-rel .left-heading {
  position: relative;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
  left: 70px;
  top: -70px;
}

.services .right-heading {
  font-weight: 600;
  font-size: 13px;
  color: #919198;
  letter-spacing: 1px;
  padding-bottom: 3px;
  cursor: pointer;
}

.services .right-heading:hover {
  border-bottom: 2px solid var(--primary-hover-color);
}

/*  ============ SERVICES MENU SECTION ============  */

.services .card1 div img {
  width: 60px;
  margin-bottom: 20px;
}

.services .card1 .heading-of-cards {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  color: #121213;
  margin-bottom: 10px;
}

.services .card1 .heading-of-cards + .info {
  font-size: 17px;
  font-weight: 400;
  color: #919197;
  margin-bottom: 10px;
  text-align: justify;
}

.learn {
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 600;
  color: #919198;
  margin-top: 15px;
  padding-bottom: 2px;
  cursor: pointer;
}

.sec-1 {
  width: 20%;
  line-height: 25px;
}

.card1 {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
}

/*  ============ ABOUT WHO WE ARE SECTION ============  */

#sec-img img {
  width: 527px;
  margin-top: 100px;
}

#background-rel2 {
  position: relative;
  font-size: 120px;
  font-weight: 600;
  letter-spacing: 11px;
  color: rgba(241, 241, 247, 0.4);
}

#left-heading2 {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
  position: absolute;
  top: 80px;
  left: 53px;
}

.para {
  margin-bottom: 30px;
  color: #919197;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  margin-left: 53px;
}

#meet {
  font-size: 13px;
  font-weight: 600;
  color: #919198;
  line-height: 20px;
  margin-left: 50px;
  letter-spacing: 1px;
}

#sec-letter {
  display: flex;
  justify-content: center;
}

#div-sec2 {
  width: 490px;
  margin-left: 80px;
}

.numbers div:nth-child(1) {
  margin-bottom: 10px;
  color: #e47312;
  font-size: 60px;
  line-height: 70px;
  font-weight: 500;
}
.numbers div:nth-child(2) {
  margin-bottom: 10px;
  color: #919197;
  font-size: 17px;
  line-height: 25px;
}
#number-sec {
  display: flex;
  justify-content: space-between;
  margin: 65px 0 0 0;
}
.numbers {
  width: 140px;
  padding-top: 60px;
}

/* ----------------------- SERVICES PAGE ENDS HERE -----------------------  */
/* ----------------------- PROJECT PAGE STARTS HERE ----------------------- */

.projects {
  background-color: #f7f8fc;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*  ============ GALLERY SECTION ============  */

.projects .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7% 17%;
}

.projects .title .main {
  position: relative;
}

.projects .title .main .background_title {
  position: absolute;
  font-size: 120px;
  font-weight: 600;
  letter-spacing: 11px;
  color: rgba(241, 241, 247, 0.4);
  left: -60px;
  top: -80px;
}

.projects .title .main h1 {
  position: relative;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
}

.projects .title .main_link a {
  font-weight: 600;
  font-size: 13px;
  color: #919198;
  letter-spacing: 1px;
  margin-left: 850px;
  padding-bottom: 5px;
}

.projects .title .main_link a:hover {
  border-bottom: 2px solid var(--primary-hover-color);
}

.projects .gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.projects .gallery img {
  max-width: 580px;
  cursor: pointer;
  margin: 10px;
  transition: all ease 0.2s;
}

.projects .gallery img:hover {
  filter: brightness(60%);
}

/*  ============ QUOTE SECTION ============  */

.quote {
  background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)),
    url(https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg);
  background-position: 0px 0px, center;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  padding: 130px 0;
  text-align: center;
  color: #fff;
  margin: 0 0 100px 0;
}
.quote h1 {
  font-size: 42px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.quote p {
  margin-bottom: 40px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

.quote .link {
  font-weight: 600;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 1px;
  transition: all ease 0.2s;
  padding: 3px;
}

.quote .link:hover {
  border-bottom: 1px solid #fff;
}

/*  ============ PROFESSIONALS SECTION ============  */

.professionals .title1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 15%;
}

.professionals .title1 .main1 {
  position: relative;
}

.professionals .title1 .main1 .background_title1 {
  position: absolute;
  font-size: 120px;
  font-weight: 600;
  letter-spacing: 11px;
  color: rgba(241, 241, 247, 0.4);
  left: -60px;
  top: -80px;
}

.professionals .title1 .main1 h1 {
  position: relative;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
}

.professionals .title1 .main_link1 a {
  font-weight: 600;
  font-size: 13px;
  color: #919198;
  letter-spacing: 1px;
  margin-left: 850px;
  padding-bottom: 5px;
}

.professionals .title1 .main_link1 a:hover {
  border-bottom: 2px solid var(--primary-hover-color);
}

.professionals .cards_section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 170px;
}

.professionals .cards_section .card{  
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.professionals .cards_section .card .details{
  padding: 30px 20px;
}

.professionals .cards_section .card .details h1{
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 10px;
  color: #121213;
  letter-spacing: 1px;
}

.professionals .cards_section .card .details p{
  font-weight: 400;
  font-size: 16px;
  color: #bdbdc9;
}

.professionals .cards_section .card .flex-icons{
  display: flex;
  background-color: var(--primary-color);
  position: absolute;
  margin-left: 240px;
  margin-top: 320px;
}

.professionals .cards_section .card .flex-icons ul li img{
  width: 60px;
  padding: 20px;
}
